{% extends 'core/base.html' %}
{% block title %}Recent Pins{% endblock %}
{% block top-right-menu-one%}<a href="/">Go Back</a> {%endblock%}
{% block yield %}
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}

{% block load_pinry_js %}
<script src="/media/ecommerce/js/pinry_similar_items.js"></script>
<script type="text/javascript"> var pin_id={{ pin_id }};</script>
{% endblock %}

