{% extends 'core/base.html' %}

{% block title %}Similar Items{% endblock %}

{% block yield %}
	<div id="modal">
		{% for item in similar %}
		<ul id="grid">
			<li><a href= "{{item.page_url}}"><img src="{{item.image}}" ></img></a></li>
		</ul>
		{% endfor %}
	</div>
{% endblock %}

{% block top-right-menu-one%}<a href="/">Go Back</a> {%endblock%}
{% block endOfBody %}
<script type="text/javascript">
$(document).ready(initializeGrid);
function initializeGrid() {
  $("ul#grid li img").each(function() {
  });
}
$(document).ready(function(){
//    $('#modal').modal('show');
});
</script>
{% endblock %}


{% block load_pinry_js %}{% endblock %}
