{% extends 'core/base.html' %}

{% block title %}Similar Items{% endblock %}

{% block head %}
<script>
$(document).ready(initializeGrid);

function initializeGrid() {
  $("ul#grid li img").each(function() {
    var width = $(this).width() / 100 + "em";
    var height = $(this).height() / 100 + "em";
    $(this).css("width",width);
    $(this).css("height",height);
  });
}
</script>
{% endblock %}

{% block yield %}
	<div>
		<ul id="grid">
			<li><a href= "{{page_url}}"><img src="{{image}}" ></img></a></li>
		</ul>
	</div>
{% endblock %}

{% block load_pinry_js %}{% endblock %}
